.text_animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

.text_animate_hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
  
    &:hover {
      animation: rubberBand 1s;
      color: rgb(58, 178, 229);
      cursor: grab;
    }
}

@for $i from 1 through 67 {
  .text_animate._#{$i} {
    animation-delay: #{calc($i / 10)}s;
  }
}